@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.bar-top-page{
    height: 25px;
}
.bar-top-page-content{
    color:#fff;
    text-align: right;
    font-size: 12px;
    a{
        color:#fff;
        text-decoration: underline;
        font-size: 12px;
    }
    a:hover{
       color: #cc0d1f;
       text-decoration: underline;
       font-size: 12px;
    }
}
#logo{
    margin: 30px 0px;
    h1{
        font-size: 30px;
        text-indent:-9999px;
        background-image: url("../assets/logo.png");
        background-repeat: no-repeat;
        height: 65px;
    }
}

.main-menu{
    background-color: #cc0d1f;
    ul{
        list-style: none;
        margin: 0px 0px 0px -60px;
        text-align: left;
        li{
            display: inline;
            text-transform: uppercase;
            color: white;
            margin-left: 20px;
            a{
               color: white;
               padding: 10px 3px;
               text-decoration: none;
            }
            a:hover{
                background-color: #96000e;
                padding: 10px 3px;
                text-decoration: none;
            }
        }
    }
}
.title-page{
    margin-top: 60px;
    h1{
        border-bottom: 1px solid #dfdedc;
        color: #cc0d1f;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    label{
        font-size: 14px;
        font-weight: bold;
        float: left;
        padding-right: 10px;
        padding-top: 10px;
    }
    select{
        float: left;
        width: 270px;  
    }
}
.choose-icon-nav{
    padding-top: 7px;
    padding-left: 20px;
    color: #86bbbf;
    a{
        color: #808186;
    }
    a:hover{
        color: #86bbbf
    }
}
.select-filter{
    padding-left: 67px;
}
#product{
    margin-top: 10px;
    min-height: 271px;
    p{
        text-align: center;
        text-transform: uppercase;
    }
    .description{
        color:#666;
    }
    .price{
        color:#ce0e1d;
        font-weight: bold;
        font-size: 20px;
    }
}
.thumb{
    img {
        border: 1px solid #dfdedc;
        padding: 20px;
    }
}

footer{
    height: 30px;
    background-color: #96000e;
}