body{
    
}
.bar-top-page{
    height: 25px;
}
.bar-top-page-content{
    color:#fff;
    text-align: right;
    font-size: 12px;
    a{
        color:#fff;
        text-decoration: underline;
        font-size: 12px;
    }
    a:hover{
       color: #cc0d1f;
       text-decoration: underline;
       font-size: 12px;
    }
}
#logo{
    margin: 30px 0px;
    h1{
        font-size: 30px;
        text-indent:-9999px;
        background-image: url("../assets/logo.png");
        background-repeat: no-repeat;
        height: 65px;
    }
}

.main-menu{
    background-color: #cc0d1f;
    ul{
        list-style: none;
        margin: 0px 0px 0px -60px;
        text-align: left;
        li{
            display: inline;
            text-transform: uppercase;
            color: white;
            margin-left: 20px;
            a{
               color: white;
               padding: 10px 3px;
               text-decoration: none;
            }
            a:hover{
                background-color: #96000e;
                padding: 10px 3px;
                text-decoration: none;
            }
        }
    }
}
#product{
    margin-top: 10px;
    min-height: 271px;
    p{
        text-align: center;
        text-transform: uppercase;
    }
    .description{
        color:#666;
    }
    .price{
        color:#ce0e1d;
        font-weight: bold;
        font-size: 20px;
    }
}
.thumb{
    img {
        border: 1px solid #dfdedc;
        padding: 20px;
    }
}

footer{
    height: 30px;
    background-color: #96000e;
}